{% extends "base.html" %}
{% block content %}    
    <main class="outter--container streaming is--watching">
        <script src="/static/js/test.js"></script>
        {{player_section | safe}}
        {{inner_container | safe}}
    </main>
    <!-- <script>

        // document.addEventListener("DOMContentLoaded", function() {
        //     const checkForM3U8 = () => {
        //         console.log("running checkForM3U8")
        //         const resourceEntries = window.performance.getEntriesByType('resource');
        //         console.log(window.performance.getEntriesByType('resource'));
                
        //         // Filter entries ending with ".m3u8"
        //         const m3u8Entries = resourceEntries.filter(entry => entry.name.endsWith('.m3u8'));

        //         if (m3u8Entries.length > 0) {
        //             // Found entries with ".m3u8", do something with them
        //             console.log('Found .m3u8 links:', m3u8Entries.map(entry => entry.name));
        //         } else {
        //             // Continue checking after a delay (adjust the delay as needed)
        //             setTimeout(checkForM3U8, 1000); // Check every 1 second
        //         }
        //     };

        //     // Start the initial check
        //     // checkForM3U8();
        // });

        // Get the current domain
        const currentDomain = window.location.hostname;

        // Function to check and prevent redirection to a different domain
        function checkRedirection() {
            if (window.location.hostname !== currentDomain) {
                // Redirect to a safe page within the current domain
                window.location.href = '/';
            }
        }

        // Call the checkRedirection function on page load
        checkRedirection();


    </script> -->
{% endblock content %}